*
{
	padding: 0;
	margin: 0;
	border: 0;
}

a
{
	text-decoration: none;
}

img
{
	display: block;
}

html
{
	padding: 10px;
}

h1,
h1 a
{
	font-size: 1.2em;
	text-align: center;
	color: #d0d0d0;
}



/* --- ids --- */

#themes
{
	position: absolute;
	top: 10px;
	right: 10px;
}

#selectedalbum
{
	margin-top: 5px;
	clear: both;
	float: left;
}

/* --- folders --- */

.image a
{
	height: 100px;
	width: 100px;
	display: block;
	padding: 14px 25px;
	border-bottom: 1px solid #ccc;
}

.folder,
.thumbnail
{
	height: 150px;
	width: 150px;
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid #ccc;
	position: relative;
}


/* --- icons --- */

.icon
{
	position: absolute;
	top: 4px;
	left: 15px;
}


/* --- image names --- */

.name,
#loadingspan,
#linktospan a
{
	color: #f0f0f0;
	font-weight: bold;
	padding: 3px 0;
	text-align: center;
	display: block;
	overflow: hidden;
	font-size: 0.7em;
}

/* --- expanded image --- */

#linktospan a
{
	padding: 4px 0;
}

#linktospan a img
{
	position: absolute;
	top: 2px;
	left: 3px;
}


#expandedimage
{
	border: 1px solid #ccc;
	float: left;
	clear: both;
	margin-top: 5px;
}

#expandedimagespan
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

#loadingspan
{
	padding: 3px 5px;
	border-bottom: 1px solid #ccc;
}

/* --- hover actions --- */

a:hover,
#breadcrumbtrail ul li a:hover
{
	cursor: pointer;
}


/*** BACKGROUND ***/

html,
.selected a,
#linktospan a:hover,
#breadcrumbtrail ul li a:hover,
#breadcrumbtrail ul li ul li.selected
{
	background-color: #303030;
}

.folder,
.thumbnail,
#expandedimage,
#breadcrumbtrail ul li
{
	background-color: #505050;
}

#linktospan a,
.image a:hover,
#breadcrumbtrail ul li ul li a:hover
{
	background-color: #707070;
}


#loadingspan
{
	background-color: #cc0022;
}


/*** BREADCRUMB TRAIL ***/

#breadcrumbtrail ul
{
	list-style: none;
}

#breadcrumbtrail a
{
	display: block;
	width: 150px;
}

#breadcrumbtrail img
{
	display: none;
}

#breadcrumbtrail ul li
{
	margin-right: 5px;
	float: left;
	width: 150px;
	border: 1px solid #ccc;
}
#breadcrumbtrail ul li ul
{
	border: 1px solid #ccc;
	left: -999em;
	position: absolute;
	width: 150px;
	z-index: 10;
}


#breadcrumbtrail ul li ul li
{
	border: none;
}

#breadcrumbtrail ul li.over ul,
#breadcrumbtrail ul li:hover ul
{
	left: auto;
	margin-left: -1px;
}