ul
{
	list-style: none;
}

img
{
	border: 0;
	display: block;
	padding: 5px 10px 10px 0;
}

a
{
	text-decoration: none;
}

ul
{
	padding: 0;
}

li
{
	display: block;
	clear: both;
}

ul li
{
	border: 4px ridge #ccc;
	padding: 5px;
	margin: 5px;
}

ul li ul
{
	border: none;
	padding: 0;
	margin: 0;
}

ul li ul li
{
	border: 1px solid #ccc;
}

ul li ul li ul,
.noborder li,
.image
{
	border: none;
}

.hidden
{
	display: none;
}