*,
#breadcrumbtrail ul li ul li
{
	border: 0;
}

.folder,
.thumbnail,
#expandedimage,
#breadcrumbtrail ul li,
#breadcrumbtrail ul li ul,
.comment
{
	border: 1px solid #ccc;
}

#commentform,
#expandedimagespan
{
	border-top: 1px solid #ccc;
}

.image a,
#loadingspan,
#expandedimagespan
{
	border-bottom: 1px solid #ccc;
}

#commentform input,
#commentform textarea,
#commentform button
{
	border: 1px solid #000;
}