/*** TEXT COLOURS ***/
*
{
	color: #f0f0f0;
}

h1,
h1 a
{
	color: #d0d0d0;
}

.comment a,
.comment.odd .date,
.comment.odd .rating
{
	color: #c0c0c0;
}

.comment.odd a,
.comment .date,
.comment .rating,
input,
textarea,
button
{
	color: #000000;
}


/*** BACKGROUND COLOURS ***/

html,
.selected a,
#linktospan a:hover,
#addcomment a:hover,
#breadcrumbtrail ul li a:hover,
#breadcrumbtrail ul li ul li.selected
{
	background-color: #303030;
}

.folder,
.thumbnail,
.comment,
#expandedimage,
#breadcrumbtrail ul li
{
	background-color: #505050;
}

#linktospan a,
.image a:hover,
.comment.odd,
#commentform,
#breadcrumbtrail ul li ul li a:hover
{
	background-color: #707070;
}


#loadingspan
{
	background-color: #cc0022;
}
