@import "colours.css";
@import "borders.css";

*
{
	padding: 0;
	margin: 0;
}

a
{
	text-decoration: none;
}

img
{
	display: block;
}

html
{
	padding: 10px;
}

h1,
h1 a
{
	font-size: 1.2em;
	text-align: center;
}


/* --- ids --- */

#themes
{
	position: absolute;
	top: 10px;
	right: 10px;
}


#comments
{
	float: left;
	clear: both;
}

#selectedalbum
{
	margin-top: 5px;
	clear: both;
	float: left;
}

/* --- folders --- */

.image a
{
	height: 100px;
	width: 100px;
	display: block;
	padding: 14px 25px;
}

.folder,
.thumbnail
{
	height: 150px;
	width: 150px;
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	position: relative;
}


/* --- icons --- */

.icon
{
	position: absolute;
	top: 4px;
	left: 15px;
}


/* --- image names --- */

.name,
#loadingspan,
#linktospan a,
#addcomment a
{
	font-weight: bold;
	padding: 3px 0;
	text-align: center;
	display: block;
	overflow: hidden;
	font-size: 0.7em;
}

/* --- expanded image --- */

#linktospan a
{
	padding: 4px 0;
}

#linktospan a img
{
	position: absolute;
	top: 2px;
	left: 3px;
}


#expandedimage
{
	float: left;
	clear: both;
	margin-top: 5px;
}

#expandedimagespan
{
	padding: 5px;
}

#loadingspan
{
	padding: 3px 5px;
}

/* --- hover actions --- */

a:hover,
#breadcrumbtrail ul li a:hover
{
	cursor: pointer;
}

/*** BREADCRUMB TRAIL ***/

#breadcrumbtrail ul
{
	list-style: none;
}

#breadcrumbtrail a
{
	display: block;
	width: 150px;
}

#breadcrumbtrail img
{
	display: none;
}

#breadcrumbtrail ul li
{
	margin-right: 5px;
	float: left;
	width: 150px;
}

#breadcrumbtrail ul li ul
{
	left: -999em;
	position: absolute;
	width: 150px;
	z-index: 10;
}

#breadcrumbtrail ul li.over ul,
#breadcrumbtrail ul li:hover ul
{
	left: auto;
	margin-left: -1px;
}


/*** COMMENTS ***/

.comment
{
	padding: 5px;
	margin-top: 5px;
	clear: both;
}

.comment .date,
.comment .name,
.comment .web
{
	font-size: 0.8em;
	float: left;
	text-align: right;
	font-weight: normal;
	padding: 0;
}

.comment .date
{
	float: right;
}

.comment .web
{
	margin-left: 10px;
}

.comment .rating
{
	display: block;
	text-align: right;
	clear: both;
}

.comment .commenttext
{
	clear: both;
	float: left;
	margin: 5px 0 0 0;
}


#commentform form
{
	padding: 0 5px 5px 5px
}

#commentform button,
#commentform label span
{
	font-size: 0.9em;
}

#commentform label,
#commentform label span,
#commentform button
{
	float: left;
	clear: both;
}

#commentform label
{
	margin-bottom: 5px;
}

#commentform button,
#commentform label span
{
	width: 100px;
}
