.folder a:hover,
.thumbnail a:hover,
.background1
{
	background: #BCC557;
}

#nav,
#welcomehelp,
#album,
#TB_window,
.background2
{
	background: #CDE660;
}

#nav li a:hover,
.background3
{
	background: #FFD91B;
}


.background4
{
	background: #F6C031;
}

body,
.background5
{
	background: #768047;
}