#nav,
#welcomehelp,
#album,
#TB_window,
.border1
{
	border: #BCC557 solid 2px;
}

.border2
{
	border: #CDE660 solid 2px;
}

.border3
{
	border: #FFD91B solid 2px;
}

.border4
{
	border: #F6C031 solid 2px;
}

.border5
{
	border: #768047 solid 2px;
}



#nav li a,
.border1.thin
{
	border: #BCC557 solid 1px;
}

.border2.thin
{
	border: #CDE660 solid 1px;
}

.border3.thin
{
	border: #FFD91B solid 1px;
}

.border4.thin
{
	border: #F6C031 solid 1px;
}

.folder,
.thumbnail,
.border5.thin
{
	border: #768047 solid 1px;
}

.title
{
	border-top: #768047 solid 1px;
}