@import "thickbox-3.1.css";
@import "colours.css";
@import "borders.css";
@import "backgrounds.css";

*
{
	padding: 0;
	margin: 0;
}

img
{
	display: block;
	border: 0;
}

h1
{
	margin-bottom: 0.3em;
	font-size: 2em;
	text-align: center;
}

#nav
{
	float: left;
	padding: 0.2em;
	width: 9em;
	margin: 0 0.3em;
}

#nav ul
{
	list-style: none;
	font-size: 0.7em;
}

#nav ul ul
{
	padding-left: 0.5em;
	font-size: 1em;
	display: none;
}

#nav li
{
	padding: 0.1em 0;
}

#nav li img
{
	float: left;
	margin: 0.3em 0 0 0;
}

#nav li img:hover
{
	cursor: pointer;
}

#nav li a
{
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-left: 12px;
	padding: 0 0.3em;
}

#album,
#welcomehelp
{
	overflow: hidden;
	padding: 0.3em;
	margin: 0 0.3em 0 0;
}

#album
{
	display: none;
}

.folder a,
.thumbnail a
{
	display: block;
	height: 1.5em;
	text-decoration: none;
}


.folder,
.thumbnail
{
	width: 9.5em;
	height: 9.5em;
	overflow: hidden;
	text-align: center;
	float: left;
	margin: 0.3em 0.3em 0 0;
}

.image img
{
	margin: 0 auto;
}

.image
{
	width: 9.5em;
	height: 8em;
	display: block;
	overflow: hidden;
}

.image a
{
	padding: 0.3em 0 0 0;
	width: 9.5em;
	height: 7.7em;
	display: block;
}

.title
{
	display: block;
	font-size: 0.8em;
}

.title a
{
	padding: 0.3em 0 0 0;
}